html, body {
    background: #302b63;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
}

.slider {
    width: 500px;
    height: 500px;
    border: 5px solid white;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}

.slider-line {
    position: absolute;
    display: flex;
}

.slider img {
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;

}

.buttons {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.next-button:hover,
.prev-button:hover{
    box-shadow: 0 2px 5px white;
}

.next-button:active,
.prev-button:active{
    background-color: #24243e;
}

.prev-button,
.next-button {
    cursor: pointer;
    background-color: #302b63;  
    color: #ffff;
    border: 5px solid #ffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 30px;
    position: absolute;
    z-index: 10;
    top: 250px;
}

.next-button {
    right: 0;
}

.dots {
    display: flex;
    column-gap: 20px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%); 
}

.dot {
    width: 16px;
    height: 16px;
    border: 5px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.dot:hover {
    box-shadow: 0 2px 5px white;
}

.active-dot {
    background-color: white;
}